@font-face {
	font-family: 'BebasNeueBold';
	src: url('../fonts/BebasNeue-webfont.eot');
	src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/BebasNeue-webfont.woff') format('woff'),
	     url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
	     url('../fonts/BebasNeue-webfont.svg#BebasNeueBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

.transition {
	-moz-transition: all 0.5s ease-out; /* Firefox */
    -webkit-transition: all 0.5s ease-out; /* WebKit */
    -o-transition: all 0.5s ease-out; /* Opera */
    transition: all 0.5s ease-out; /* Standard */
}

.altfont {
	font-family: 'BebasNeueBold';
	font-weight: bold;
}

body {
	font-family: 'BebasNeueBold';
	font-size: 16px;
}

div#home-bg {
	position: absolute;
	top: 0;
	background-image: url("../img/banner/banner.png");	
	opacity: 0.3;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: -1;
}

a {	color: inherit; }
a:hover { text-decoration: none; color: inherit; }
a:focus { text-decoration: none; color: inherit; }

h1,h2,h3,h4,h5 {
	font-family: 'BebasNeueBold';
	padding: 30px 0 30px 0;
}

.title {
	font-family: 'BebasNeueBold';
	font-size:150px;
	font-size: 13vw;
	color: black;
	text-shadow: 1px 1px 50px cyan;
}


nav#nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
	font-family: 'BebasNeueBold';	
	background: darkcyan;
	vertical-align: middle;
	box-shadow: 0px 1px 35px black;
	opacity: 0.7;
}

nav#nav:hover {
	opacity: 1;
}

#nav-title {
	display: inline-block;
	font-size: 30px !important;
	color: white !important;
	font-weight: bold !important;
	font-family: 'BebasNeueBold';
	vertical-align: middle;	
	margin-left: 45px;

}

div#navdiv {
	display: inline-block;
	float: right; 
	margin-right: 20px;
}

nav#nav a {	
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	font-size: 19px;
	border-bottom: 1px dashed transparent;
	vertical-align: middle;
	color: #d0d0d0;
	outline: none;
}

nav#nav a:hover,
nav#nav a.active { 
	border-color: #fff;
	color: #fff;
}

nav#nav a:hover,
nav#nav a.active { border-color: cyan; }
/* nav#nav a#a-home:hover,
nav#nav a#a-home.active { border-color: cyan; }
nav#nav a#a-project:hover,
nav#nav a#a-project.active { border-color: mediumvioletred ; }
nav#nav a#a-crew:hover,
nav#nav a#a-crew.active { border-color: darkblue; }
nav#nav a#a-media:hover,
nav#nav a#a-media.active { border-color: goldenrod; }
nav#nav a#a-download:hover,
nav#nav a#a-download.active { border-color: crimson; }
nav#nav a#a-contact:hover,
nav#nav a#a-contact.active { border-color: black; } */

div.content {
	width: 100%;
	background: white;
	padding: 0 10% 0 10%;
	padding-top: 30px;
	text-align: center;	
	overflow: hidden;
}

div.content.alt {
	background: #f0f0f0;
}










/*
 *
 * contact css
 *
 */










input.form-submit {
	min-width: 10%;
	padding-top: 10px;
	padding-bottom: 10px;	
	margin: 10px;
	border: 0;
	background: rgb(20,110,105);
	color: white;
	font-family: "BebasNeueBold";
	font-size: 18px;
	outline: none;
}

input.form-submit:hover { background: rgb(15,77,73); }

input.form-input,
textarea.form-input {
	width: 25%;
	height: 40px;
	padding: 0 10px 0 10px;
	margin: 10px;
	background: transparent;
	border: 3px solid rgba(0,0,0,0.7);
	font-size: 16px;
}

	input.form-input:focus,
	textarea.form-input:focus {		
		outline: none;
	}

textarea.form-input.textarea {
	width: calc(50% + 20px);
	max-height: 200px;
	resize: vertical;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 80px;
}

div.socials {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin:0;
	padding: 5px 0 5px 5px;
	height: 60px;
	border: 3px solid black;
}

div.socials:before {
	position: absolute;
	top: -8px;
	left: 50%;
	width: 0;
	height: 0;	
	content: " ";
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
	border-left: 5px solid transparent;
}

div.socials img {
	position: relative;
	display: inline-block;
	height: 100%;
	margin-right: 5px;
}

div.socials img:hover {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.lbl {
	display: none;
}

a.text { padding-bottom: 5px; border-bottom: 1px dashed transparent; }
a.text:hover { border-bottom: 1px dashed black; }










/*
 *
 * download css
 *
 */










.purple { color: #dc143c; }

p.block {
	margin: 40px 0 70px 0;
}

div#links a,
div#links a h3 {
	padding: 0;
	margin: 0;
}

div#links a {
	display: block;
}

div#links a h3{
	margin: 20px 0 0 0;
	display: inline-block;
}

div#links a:hover h3 {
	color: #dc143c;
	padding: 0 0 0 10px;
}

div.app-box {
	display: inline-block;
	position: relative;
	border: 3px solid #333;
	margin-left: 30px;
	width: 15%;
	max-width: 120px;
}

div.app-box:hover {
	border: 3px solid #dc143c;
}

div.app-box img{
	width: 100%;	
}

div.layer {
	position: absolute;
	visibility: hidden;
	text-align: center;
	width: 100%;
	height: 100%;
	background: transparent;
	font-family: "BebasNeueBold";
	font-size: 3vw;
	color: rgba(225,225,225,0.5);
	vertical-align: middle;
	cursor: default;
}

div.app-box:hover div.layer {
	visibility: visible;
	background: rgba(0,0,0,0.5);
}










/*
 *
 *
 * crew css
 *
 */










 .darkblue { color: #00008b; }

 img.profile {
 	display: inline-block;
 	border: 3px solid #333;
 	width: 15%;
 	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
 }

 







 /*
  *
  * media css
  *
  */










  .goldenrod { color: #DAA520;  }










  /*
  *
  * project css
  *
  */










.mediumvioletred { color: #C71585;  }

img.icons {
	width: 70px;
}










  /*
  *
  * home css
  *
  */










.darkcyan { color: #008B8B;  }

div.cambista-shape {
	width: 25%;
	height: 25%;
	display: inline-block;
	border-radius: 5%;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	overflow: hidden;
	vertical-align: middle;
}

div.cambista-shape img {
	width: 100%;
	height: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

div.box {
	width: 40%;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2% 0 2%;
}

div.box p {
	padding: 10px;
	background: rgba(255,255,255,0.7);
}

div.corpus {
	display: none;
}

div.corpus.active {
	display: block;
}

.glyphicon:hover {
	color: crimson;
}