<h1>Contato</h1>
<p>Envie suas dúvidas e sugestões através do formulário abaixo.</p>
<br/>
<form id="contact-form">
	<label class="lbl" for="name">Nome</label>
	<input type="text" id="name" name="name" placeholder="Nome" class="form-input transition" required />
	<br class="lbl">
	<label class="lbl" for="email">E-mail</label>
	<input type="email" id="email" name="email" placeholder="E-mail" class="form-input transition" data-toggle="tooltip" title="Seu e-mail não será divulgado." required />
	<br/>			
	<label class="lbl" for="msg" style="vertical-align: middle;">Mensagem</label>
	<textarea id="msg" name="msg" placeholder="Mensagem" class="form-input transition textarea" required style="vertical-align: middle;"></textarea>			
	<br/>			
	<input type="submit" class="form-submit transition" value="Enviar"></input>			
</form>
<br/>
<p>
	Ou entre em contato através do e-mail<br/>			
	<a href="mailto:suporte.cambio@gmail.com?Subject=Contato%20Cambio" target="_blank" class="text transition">
		<b>suporte.cambio@gmail.com</b>
	</a>
</p>
<h3 style="padding: 5px 0 5px 0;">Redes Sociais</h3>		
<div class="socials">
	<a href="#" target="_blank"> <img class="transition" src="img/icons/facebook.png"/> </a>
	<a href="#" target="_blank"> <img class="transition" src="img/icons/twitter.png"/> </a>
	<a href="#" target="_blank"> <img class="transition" src="img/icons/instagram.png"/> </a>
	<a href="#" target="_blank"> <img class="transition" src="img/icons/youtube.png"/> </a>
</div>