<h1 class="darkblue">Quem Somos</h1>

<div>
	<div>
		<h3 style="padding: 0; margin: 0 0 20px 0;">Idealizadores / Desenvolvedores</h3>
		<h4 style="padding: 0; margin: 0 0 20px 0;">e tudo mais! :D</h4>
		<img 
			class="profile gogray transition"
			src="img/profiles/crew/daivid.jpg"
			data-toggle="tooltip" 
			title="Daivid Leal">
		<img 
			class="profile gogray transition"
			src="img/profiles/crew/rocky.jpg"
			data-toggle="tooltip" 
			title="Rocky Hox"
		>
		<img 
			class="profile gogray transition"
			src="img/profiles/crew/igor.jpg"
			data-toggle="tooltip" 
			title="Igor Gomes">
		<img 
			class="profile gogray transition"
			src="img/profiles/crew/uehara.jpg"
			data-toggle="tooltip" 
			title="Matheus Uehara">
	</div>
	
</div>