<h1 class="purple">Baixe o Aplicatico</h1>

<div>
	<a href="https://play.google.com/store/apps/details?id=app.cambio" target="_blank">
	<div class="app-box" style="background: #97C024;">
		<div class="layer transition">BAIXAR!</div>
		<img src="img/icons/android.png" />
	</div>
	</a>
	<div class="app-box" style="background: #6D6E71;">		
		<div class="layer transition">EM BREVE!</div>
		<img src="img/icons/apple.png" />
	</div>
	<div class="app-box" style="background: #0CB3EE;">		
		<div class="layer transition">EM BREVE!</div>
		<img src="img/icons/windows.png" />
	</div>
</div>

<p class="block">
	Os aplicativos mobile estão em desenvolvimento. Mas o <span class="altfont">CÂMBIO</span> é uma comunidade ativa!<br/>
	Acesse os links abaixo, entre através de sua conta no <b class="purple">Facebook</b> e torne-se um cambista!
</p>

<div id="links">
	<a href="https://www.facebook.com/cambioapp/?fref=ts" target="_blank">
		<span class="glyphicon glyphicon-link" style="margin-right: 10px;"> <h3 class="transition">Pagina oficial no Facebook</h3>
	</a>
	<a href="https://www.facebook.com/groups/880694132027125/" target="_blank">
		<span class="glyphicon glyphicon-link" style="margin-right: 10px;"> <h3 class="transition">Comunidade Câmbio</h3>
	</a>
</div>
	