<div>
	<div id="greetings" data-next="#cambistas_1" data-prev="#cambistas_3" class="corpus active" style="text-align: center;">	
		<div>
		<h1 id="changable-greeting" style="padding-bottom: 0; font-family: 'Reckoner'">Bem-vindo ao</h1>
		<span class="title"><span onmouseover="document.getElementById('slogan').innerHTML = 'A favor do conhecimento sem limites!'; document.getElementById('changable-greeting').innerHTML = 'Bem-vindo ao';">C</span><span style="color: goldenrod;" onmouseover="document.getElementById('slogan').innerHTML = 'For boundless knowledge!'; document.getElementById('changable-greeting').innerHTML = 'Welcome to';">Â</span><span style="color: mediumvioletred;" onmouseover="document.getElementById('slogan').innerHTML = 'À l\'appui de la connaissance sans limites!'; document.getElementById('changable-greeting').innerHTML = 'Bienvenue au';">M</span><span style="color: darkblue;" onmouseover="document.getElementById('slogan').innerHTML = 'En apoyo de los conocimientos sin límites!'; document.getElementById('changable-greeting').innerHTML = 'Bienvenido a';">B</span><span style="color: crimson;" onmouseover="document.getElementById('slogan').innerHTML = 'A sostegno della conoscenza senza limiti!'; document.getElementById('changable-greeting').innerHTML = 'Benvenuto in';">I</span><span style="color: black;" onmouseover="document.getElementById('slogan').innerHTML = '無限の知識を支持して'; document.getElementById('changable-greeting').innerHTML = 'へようこそ';">O</span></span>
		<h1 id="slogan" style="padding-bottom: 0; font-family: 'Reckoner'">A favor do conhecimento sem limites!</h1>	
		

		</div>

		<!-- <div class="cambista-shape">
			<img id="c1-img" class="gogray transition" src="img/profiles/crew/lucas.jpg">
		</div>
		<div class="box">
			<p id="c1-p" align="left" data-img="#c1-img" style="margin: 10px 10px 30px 10px; position: relative;">
				<i>"Foi uma experiência muito construtiva, e acabei fazendo um grande amigo."</i>
				<br/><b>Fulano de Tal</b>
				<br/>
				<span style="">
					<img src="img/icons/coin.gif" width="14"> :::  <i>tricô, sumô</i>
				</span>
			</p>
			<p id="c2-p" align="right" data-img="#c2-img" style="margin: 30px 10px 10px 10px;">
				<i>"Sempre quis saber tricotar e nunca pensei que lutar sumô um dia me ajudaria com isso!"</i>
				<br/><b>Beltrano de Qual</b><br/>
				<i>francês, fotografia</i> ::: <img src="img/icons/coin.gif" width="14">
			</p>
		</div>
		<div class="cambista-shape">
			<img id="c2-img" class="gogray transition" src="img/profiles/crew/uehara.jpg">
		</div>	-->
	</div>

	<!--
	<div id="cambistas_1" data-next="#cambistas_2" data-prev="#greetings" class="corpus" style="text-align: center;">
		<div><h1 style="padding-bottom: 0; color: goldenrod;">Experiências de Cambistas...</h1></div>
		<div class="cambista-shape">
			<img id="c1-img" class="gogray transition" src="img/profiles/crew/guih.jpg">
		</div>
		<div class="box">
			<p id="c1-p" align="left" data-img="#c1-img" style="margin: 10px 10px 30px 10px; position: relative;">
				<i>"Foi uma experiência muito construtiva, e acabei fazendo um grande amigo."</i>
				<br/><b>Fulano de Tal</b>
				<br/>
				<span style="">
					<img src="img/icons/coin.gif" width="14"> :::  <i>tricô, sumô</i>
				</span>
			</p>
			<p id="c2-p" align="right" data-img="#c2-img" style="margin: 30px 10px 10px 10px;">
				<i>"Sempre quis saber tricotar e nunca pensei que lutar sumô um dia me ajudaria com isso!"</i>
				<br/><b>Beltrano de Qual</b><br/>
				<i>francês, fotografia</i> ::: <img src="img/icons/coin.gif" width="14">
			</p>
		</div>
		<div class="cambista-shape">
			<img id="c2-img" class="gogray transition" src="img/profiles/crew/delindo.jpg">
		</div>	
	</div>

	<div id="cambistas_2" data-next="#cambistas_3" data-prev="#cambistas_1" class="corpus" style="text-align: center;">
		<div><h1 style="padding-bottom: 0; color: goldenrod;">Experiências de Cambistas...</h1></div>
		<div class="cambista-shape">
			<img id="c1-img" class="gogray transition" src="img/profiles/crew/daivid.jpg">
		</div>
		<div class="box">
			<p id="c1-p" align="left" data-img="#c1-img" style="margin: 10px 10px 30px 10px; position: relative;">
				<i>"Sempre quis saber tricotar e nunca pensei que lutar sumô um dia me ajudaria com isso!"</i>
				<br/><b>Fulano de Tal</b>
				<br/>
				<span style="">
					<img src="img/icons/coin.gif" width="14"> :::  <i>tricô, sumô</i>
				</span>
			</p>
			<p id="c2-p" align="right" data-img="#c2-img" style="margin: 30px 10px 10px 10px;">
				<i>"Só Deus sabe o quão bom foi estar com esse parceiro de todas e tal e pah."</i>
				<br/><b>Beltrano de Qual</b><br/>
				<i>francês, fotografia</i> ::: <img src="img/icons/coin.gif" width="14">
			</p>
		</div>
		<div class="cambista-shape">
			<img id="c2-img" class="gogray transition" src="img/profiles/crew/ics.jpg">
		</div>	
	</div>

	<div id="cambistas_3" data-next="#greetings" data-prev="#cambistas_2" class="corpus" style="text-align: center;">
		<div><h1 style="padding-bottom: 0; color: goldenrod;">Experiências de Cambistas...</h1></div>
		<div class="cambista-shape">
			<img id="c1-img" class="gogray transition" src="img/profiles/crew/lucas.jpg">
		</div>
		<div class="box">
			<p id="c1-p" align="left" data-img="#c1-img" style="margin: 10px 10px 30px 10px; position: relative;">
				<i>"Foi uma experiência muito construtiva, e acabei fazendo um grande amigo."</i>
				<br/><b>Fulano de Tal</b>
				<br/>
				<span style="">
					<img src="img/icons/coin.gif" width="14"> :::  <i>tricô, sumô</i>
				</span>
			</p>
			<p id="c2-p" align="right" data-img="#c2-img" style="margin: 30px 10px 10px 10px;">
				<i>"Sempre quis saber tricotar e nunca pensei que lutar sumô um dia me ajudaria com isso!"</i>
				<br/><b>Beltrano de Qual</b><br/>
				<i>francês, fotografia</i> ::: <img src="img/icons/coin.gif" width="14">
			</p>
		</div>
		<div class="cambista-shape">
			<img id="c2-img" class="gogray transition" src="img/profiles/crew/uehara.jpg">
		</div>	
	</div>
	
	<div style="margin-top: 5%;">
		<a style="margin-right: 10px; font-size: 25px; cursor: pointer;" onclick="carrousel_prev();">
			<span class="transition 
			glyphicon glyphicon-chevron-left"></span>
		</a>
		<a style="margin-left: 10px; font-size: 25px; cursor: pointer;" onclick="carrousel_next();">
			<span class="transition glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
	-->
</div>