<h1 class="mediumvioletred">Projeto</h1>
<div>
	<p>
		Atualmente as pessoas estão cada vez mais à procura de conhecimento, e este por sua vez vem se tornando mais acessível através da internet. Mas como encontrar o conteúdo certo em meio a uma infinidade de fontes? Nesse contexto, surgiu o <span class="darkcyan"><b class="altfont">Câmbio</b></span>, com a proposta de simplificar a troca de conhecimento ao intermediar o contato daqueles com vontade de aprender e que tem algo à oferecer em troca; e este "algo" é mais conhecimento! Dos mais variados tipos... de aprender tricô a apredender sobre física quântica, quem sabe?
	</p>

	<div style="text-align: center; margin-top: 50px;">
		<img class="icons" src="img/icons/rwi.png" style="margin: 0 15px 0 15px;">
		<img class="icons" src="img/icons/idea.png" style="margin: 100px 15px 0 15px;">
		<img class="icons" src="img/icons/lab-.png" style="margin: 0 15px 0 15px;">
		<img class="icons" src="img/icons/mgi.png" style="margin: 100px 15px 0 15px;">
		<img class="icons" src="img/icons/website.png" style="margin: 0 15px 0 15px;">
		<img class="icons" src="img/icons/partnership.png" style="margin: 100px 15px 0 15px;">
		<img class="icons" src="img/icons/sci.png" style="margin: 0 15px 0 15px;">
		<img class="icons" src="img/icons/startup-icon.png" style="margin: 100px 15px 0 15px;">
	</div>
	
</div>